@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-form pull-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@("Hello " + User.Identity.GetUserName() + "!")</a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Manage Account", "Index", "Manage")</li>
                    <li>@Html.ActionLink("Favourites", "Index", "Manage")</li>
                    <li class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    using (Html.BeginForm("Login", "Account", null, FormMethod.Post, new { @class = "navbar-form pull-right form-inline" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input name="Email" class="input-small" type="text" placeholder="Email">
        <input name="Password" class="input-small" type="password" placeholder="Password">
        <button type="submit" class="btn btn-primary">Sign in</button>
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
    }

}
