@using RentABook.Models.Poco

@model RentABook.Web.Areas.Books.Models.BookDetailsViewModel
@{
    ViewBag.Title = "Book details";
}

<div class="container">
    <div class="card">
        <h2 class="card-heading simple">@ViewBag.Title</h2>
        <div class="card-body">
            <section id="bookDetails" class="details text-center">
                <div id="book-state-wrapper">
                    @Html.Partial("BookState", Model.BookState)
                </div>
                <header class="row text-center">
                    <h3>
                        @Model.Title 
                    </h3>
                    <h4><em>@Model.Author</em></h4>
                    <div>
                        @Model.ShortDescription
                    </div>
                </header>
                <div class="row">
                    <div class="span12">
                        <p id="categories">
                            @foreach (var category in Model.Categories)
                            {
                                <span class="label">@category</span>
                            }
                        </p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="span12">
                        @Html.LabelFor(m => m.Condition, new { @class = "control-label low" })
                        <div class="condition-slider">
                            @Html.DisplayFor(m => m.Condition, new { controlId = "condition", values = "In bad condition,Very used,Noramlly used,Slightly used,Very good condition,Like new" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        @Html.LabelFor(m => m.RentType, new { @class = "control-label" })
                        @if (Model.RentType == RentType.Free)
                        {
                            <span class="data">@Html.DisplayFor(m => m.RentType)</span>
                        }
                        else
                        {
                            <span class="data">@Html.DisplayFor(m => m.RentType)  (@Html.DisplayFor(m => m.Price) $)</span>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        @Html.LabelFor(m => m.OwnerFullName, new { @class = "control-label" })
                        <span class="data"><a href="~/Users/@Model.OwnerUserName">@Model.OwnerFullName</a></span>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                        <span class="data">@Model.Town / @Model.Address</span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="span12">
                        <a href="#" id="showComments">Show comments</a>
                    </div>
                </div>
                <div class="row" id="loader" style="display:none;">
                    <div class="span12">
                        <img width="64" src="~/Content/Images/loader_large_blue.gif" />
                    </div>
                </div>
                <div class="row" id="addCommentForm" style="display:none;">
                    @using (Ajax.BeginForm("Comment", "Comments", new { id = Model.Id }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.InsertBefore, UpdateTargetId = "comments", OnSuccess="commentSuccess()" }, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(false, "", new { @class = "alert alert-block" })
                        <div class="control-group">
                            @Html.Label("Content", "Comment:", new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextArea("Content", new { id="content", @class = "form-control", rows = "3" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input id="submitbtn" type="submit" value="Submit" class="btn btn-success" />
                            </div>
                        </div>
                    }
                </div>
                <div class="row" id="commentsList">
                    <article id="comments">
                    </article>
                </div>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/ion.rangeSlider.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/jquery.daterangepicker.js"></script>
    <script>
        function commentSuccess() {
            $('#content').val('');
        }

        $(document).ready(function () {
            if ($('#datespan').length) {
                var startDate = new Date();
                var numberOfDaysToAdd = 3;
                startDate.setDate(startDate.getDate() + numberOfDaysToAdd);

                var configObject = {
                    inline:true,
                    container: '#date-range-container', 
                    alwaysOpen: true,
                    startOfWeek: 'monday',
                    startDate: startDate,
                    minDays: 3,
                    maxDays: 21
                }				
                $('#datespan').dateRangePicker(configObject);
            }
            
            $('#condition').ionRangeSlider();

            $('#rbFree').change(function () {
                $('#group-price').hide();
            });

            $('#rbPaid').change(function () {
                $('#group-price').show();
            });

            $('#rbDeposit').change(function () {
                $('#group-price').show();
            });

            $('#showComments').click(function () {
                $('#loader').show();
                $.post("/Books/Comments/List/" + @Model.Id, function (data) {
                    $('#loader').hide();
                    
                    $('#addCommentForm').show();
                    $("#comments").html(data);

                    $('#showComments').hide();
                });
            });
        });
    </script>
}



