@model RentABook.Web.Models.HomeStatisticViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="hero-unit">
    <div class="container">
        <h1>Share a book!</h1>
        <p>This web site is created to provide platform for book sharing. Here you can share the books you own with other people and find a lot of new interesting readings for you.</p>
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Share", "Create", "Book", new { area = "Books" }, new { @class = "btn btn-primary btn-large" })
        }
        else
        {
            @Html.ActionLink("Create free account", "Register", "account", null, new { @class = "btn btn-primary btn-large" })
        }
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="span6">
            <div class="card">
                <h3 class="card-heading simple">Latest books</h3>
                <div class="card-body">
                    <table class="table table-striped" id="latest-books">
                        <colgroup>
                            <col />
                            <col />
                            <col />
                            <col />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Author</th>
                                <th>Title</th>
                                <th>Town</th>
                                <th>Owner</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var book in Model.LatestBooks)
                            {
                                <tr>
                                    <td><span>@book.Authors</span></td>
                                    <td><span><a href="~/Books/Book/Details/@book.Id">@book.Title</a></span></td>
                                    <td><span>@book.Town</span></td>
                                    <td><span>@book.OwnerName</span></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="span6">
            <div class="card">
                <h3 class="card-heading simple">Top book owners</h3>
                <div class="card-body">
                    <table class="table table-striped" id="top-owners">
                        <colgroup>
                            <col />
                            <col />
                            <col />
                            <col />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Books</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int position = 1;}
                            @foreach (var owner in Model.TopOwners)
                            {
                                <tr>
                                    <td><span>@position</span></td>
                                    <td><span><a href="~/Users/@owner.OwnerName">@owner.OwnerFullName</a></span></td>
                                    <td><span>@owner.BooksCount</span></td>
                                    <td><span>@owner.Score</span></td>
                                </tr>
                                position++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>